<div class="gps @(IsVisible ? "gps-opened" : String.Empty)">
    <InlineLink IconPrefix="fas" Icon="location-arrow" Value="@Value" PlaceHolder="@PlaceHolder" OnClick="@OnToggleAsync" IsClickable="@IsEnabled" />

    @if (IsVisible)
    {
        @ChildContent
    }
</div>